<!doctype html>
<html lang="en">
    <body>
        <h3>
            Hello {{ user_profile.first_name }} {{ user_profile.last_name }}!!
        </h3>
        <p>
            Thank you for purchasing from PowerPetPro. We are pleased to announce that we have received your order
            <a href="{{ order_link }}">
                {{ order_number }}
            </a>. You could view your order by clicking the order number or this link :
            <a href="{{ order_link }}">
                {{ order_link }}
            </a>. There you could view all of your items, shipping address and so forth. If there are any issues,
            you could reach out to me personally by email: justindo720@gmail.com
        </p>
        <p>
            Please consider giving us some feedback and any helpful tips.

            Developer Note: As this website is just a test run and I am the only developer on this project, I would love to hear how your process went so please click the button below to submit your feedback/comments.

            Huge thanks for joining the process :)
            Justin Do
        </p>
    </body>
</html>





